
@using Codesanook.EventManagement.ViewModels
@model ConfirmedBookingViewModel

<p>
    Dear FirstName LastName
</p>

<p>
    Thanks for your payment. 
</p>
<p>
    We will inform you immediately after we have verified the correctness of your payment.
</p>

<h4>
    Your event information
</h4>
<ul>
    <li>Event name: </li>
    <li>Start: </li>
    <li>Finish: </li>
    <li>Location: </li>
</ul>

<p>
    Thanks,
</p>

<p>
   company name Team
</p>

