<h6 class="mt-4">ท่านสามารถโอนเงินได้ที่</h6>
<div>ธนาคารไทยพาณิชย์ สาขาบางรัก</div>
<div class="mt-1"><strong>ชื่อบัญชี</strong> นายทีละนิด จิตแจ่มใส</div>
<div class="mt-1"><strong>เลขที่บัญชี</strong> 999-9-999999-9</div>
