@using Codesanook.EventManagement.ViewModels
@using Codesanook.EventManagement.Models
@using Codesanook.EventManagement.Controllers

<div class="alert alert-warning text-center">
    <strong>Status</strong> Waiting for payment
</div>

<a class="btn btn-link mb-2 mr-10" href="@Url.Action(nameof(EventBookingController.Index))">
    < Back
</a>

@using (Html.BeginFormAntiForgeryPost(nameof(EventBookingController.InformPayment), FormMethod.Post))
{
    <div class="form-row align-items-center justify-content-center">
        <div class="col-auto">
            <div class="custom-file mb-2">
                <input type="file" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-2">Upload slip</button>
        </div>
    </div>
}


@Display(Model.EventShape)

