@using Codesanook.EventManagement.Models
@using Codesanook.AmazonS3.Controllers
@model EventBookingRecord
@{
    Layout.Title = T("Edit event booking").ToString();

    Style.Require("Bootstrap").AtHead();
    Script.Require("React").AtHead();
    Script.Require("ReactDOM").AtHead();
    Script.Include("codesanook-event-management.js").AtHead();
    Style.Include("codesanook-event-management.css").AtHead();

    var reactInitShape = New.ReactInit();
    WorkContext.Layout.Footer.Add(reactInitShape);

    // Get file URL from file key
    var fileUrl = Url.Action(
        nameof(FileController.GetFile),
        "File",
        new
        {
            area = "Codesanook.AmazonS3",
            fileKey = Model.PaymentConfirmationAttachementFileKey
        }
    );

    // Ending status is successful, refund and cancel
    // To improve tracking status log
}

@using (Html.BeginFormAntiForgeryPost())
{
    <fieldset>
        @Html.React(
            "CodesanookEventManagement.AttachedPaymentFileModal",
            new { attachedPaymentFileUrl = fileUrl }
        )
        <div>
            Status @Model.Status
        </div>        
        <div>
            @Html.Partial("_ButtonAction", Model)            
        </div>
    </fieldset>
}
