@{
    string bodyHtml = Model.Html.ToString();
    var bodySummary = new HtmlString(
        Html.Excerpt(bodyHtml, 200).ToString().Replace(
            Environment.NewLine,
            "</p>" + Environment.NewLine + "<p>"
        )
    );
}

<p>@bodySummary</p>
