@using Codesanook.EventManagement.Models
@{
    var eventPart = Model.Event as EventPart;
}

<div class="date-box">
    <p>
        <i class="fa fa-calendar" aria-hidden="true"></i>
        @eventPart.GetFormattedSchedule()
    </p>
    <p>
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <span>@eventPart.BeginDateTimeUtc.Value.ToString("HH:mm")</span>
        <span>-</span>
        <span>@eventPart.EndDateTimeUtc.Value.ToString("HH:mm")</span>
        <span>(GMT+7)</span>
    </p>
    <p>
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <span>@eventPart.Location</span>
    </p>
</div>
