@using Orchard.Mvc.Extensions
@using Codesanook.EventManagement.Models
@{

    var eventPart = Model.Event as EventPart;
}

<div class="mt-4 mb-4">
    Location:
    @Html.Raw(eventPart.Location)
</div>
