@using Codesanook.EventManagement.ViewModels
@using Codesanook.EventManagement.Controllers
@model EventDisplayViewModel

@{
    // FYI Model.Id is Shape id and is not the same as our business event item ID
    var actionUrl = Url.RouteUrl(
        "EventBooking",
        new {
            action = nameof(EventBookingController.Register),
            id = Model.EventId,
            numberOfAttendees = 3
        }
    );
}
<a class="btn btn-primary" href="@actionUrl" role="button">
    Buy ticket
</a>

<label class="lbl-price mx-5">&#3647;150.00</label>
<span>x</span>
<select class="form-control ddl-amount">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
    <option>8</option>
    <option>9</option>
    <option>10</option>
</select>

