@using Codesanook.EventManagement.Models;
@model BankAccountRecord
@{
    Layout.Title = T("Edit bank account").ToString();
}

@using (Html.BeginFormAntiForgeryPost())
{
    @Html.Partial("_BankAccountForm", Model);

    <fieldset>
        <button class="primaryAction" type="submit">Save</button>
    </fieldset>
}
